# Python
__pycache__/
*.py[cod]
*.egg-info/

# Virtual environments
.venv/
env/
venv/

# Streamlit cache
.streamlit/

# OS
.DS_Store
Thumbs.db

# Ignore raw data
data/raw/

# Keep processed and models
!data/processed/
!models/
