# Python
__pycache__/
*.py[cod]
*.egg-info/

# Virtual environments
.venv/
env/
venv/

# Streamlit cache
.streamlit/

# OS
.DS_Store
Thumbs.db

# Ignore raw data
data/raw/

# Ignore large processed datasets by default
data/processed/*.csv

# BUT allow demo dataset(s) only
!data/processed/combined_demo.csv

# Ignore model artifacts by default
models/*

# If you want to keep a small placeholder model, un-ignore it
#!models/demo_model.joblib

