# Python
__pycache__/
*.py[cod]
*.egg-info/

# Virtual environments
.venv/
env/
venv/

# Streamlit cache
.streamlit/

# OS
.DS_Store
Thumbs.db

# Ignore raw data
data/raw/

# Ignore large processed datasets by default
data/processed/*.csv

# BUT allow demo dataset(s) only
!data/processed/combined_demo.csv

# Ignore model artifacts
models/*
"@ | Set-Content -Encoding UTF8 .gitignore